@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<footer id="footer" class="style-2">
    <div class="tf-container">
        <div class="row">
            <div class="col-12">
                <div class="footer-top">
                    <div class="footer-logo">
                        <a href="/">
                            <img id="logo_footer" src="~/images/footer-logo.png" alt="">
                        </a>
                    </div>
                    <div class="wrap-social">
                        <!-- Социальные сети (закомментированы в оригинале) -->
                    </div>

                    <div class="footer-main">
                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">@Localizer["AboutUs"]</h6>
                            <h6 class="title title-mobile">@Localizer["AboutUs"]</h6>
                            <div class="tf-collapse-content">
                                <p class="description">@Localizer["AboutDescription"]</p>
                            </div>
                        </div>

                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">@Localizer["Contacts"]</h6>
                            <h6 class="title title-mobile">@Localizer["Contacts"]</h6>
                            <ul class="tf-collapse-content footer-info">
                                <li><i class="icon-MapPin"></i> @Localizer["Address"]</li>
                                <li><i class="icon-Envelope"></i> <a href="mailto:contact@groupeargitis.com">contact@groupeargitis.com</a></li>
                                <li><i class="icon-PhoneCall"></i> <a href="tel:+34 610-340-344">+34 610-340-344</a></li>
                            </ul>
                        </div>

                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">@Localizer["QuickLinks"]</h6>
                            <h6 class="title title-mobile">@Localizer["QuickLinks"]</h6>
                            <ul class="tf-collapse-content">
                                <li><a href="/">@Localizer["Home"]</a></li>
                                <li><a href="/Home/About">@Localizer["About"]</a></li>
                                <li><a href="/Home/Services">@Localizer["Services"]</a></li>
                                <li><a href="/Home/Contact">@Localizer["Contact"]</a></li>
                                <li><a href="/Home/Appointment">@Localizer["RequestCredit"]</a></li>
                            </ul>
                        </div>

                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">@Localizer["OurServices"]</h6>
                            <h6 class="title title-mobile">@Localizer["OurServices"]</h6>
                            <ul class="tf-collapse-content">
                                <li><a href="/Home/Appointment">@Localizer["PersonalLoan"]</a></li>
                                <li><a href="/Home/Appointment">@Localizer["CarLoan"]</a></li>
                                <li><a href="/Home/Appointment">@Localizer["MortgageLoan"]</a></li>
                                <li><a href="/Home/Appointment">@Localizer["InvestmentLoan"]</a></li>
                                <li><a href="/Home/Appointment">@Localizer["DebtConsolidation"]</a></li>
                                <li><a href="/Home/Appointment">@Localizer["Refinancing"]</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <p>@Localizer["Copyright"] <a href="#" target="_blank"></a> @Localizer["AllRightsReserved"]</p>
                        <ul class="content-right">
                            <li><a href="#">@Localizer["TermsOfServices"]</a></li>
                            <li><a href="#">@Localizer["PrivacyPolicy"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>