@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Argitis.Resources.Views.Shared._MobileMenu> Localizer

<div class="offcanvas offcanvas-start mobile-nav-wrap" tabindex="-1" id="menu-mobile" aria-labelledby="menu-mobile">
    <div class="offcanvas-header top-nav-mobile">
        <div class="offcanvas-title">
            <a href="/">
                <img src="~/images/logo@2x.png" alt="VeltisGroup">
            </a>
        </div>
        <div data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="offcanvas-body inner-mobile-nav">
        <div class="mb-body">
            <ul id="menu-mobile-menu">
                <li class="menu-item">
                    <a href="/" class="tem-menu-mobile">@Localizer["Home"]</a>
                </li>
                <li class="menu-item">
                    <a href="/Home/About" class="tem-menu-mobile">@Localizer["About"]</a>
                </li>
                <li class="menu-item">
                    <a href="/Home/Services" class="tem-menu-mobile">@Localizer["Services"]</a>
                </li>
                <li class="menu-item">
                    <a href="/Home/Contact" class="tem-menu-mobile">@Localizer["Contact"]</a>
                </li>
                <li class="menu-item">
                    <a href="/Home/Appointment" class="tem-menu-mobile">@Localizer["RequestCredit"]</a>
                </li>
            </ul>
            <div class="support">
                <a href="#" class="text-need">@Localizer["NeedHelp"]</a>
                <ul class="mb-info">
                    <li>@Localizer["CallUsNow"]: <span class="number">+34 610-340-344</span></li>
                    <li>@Localizer["Support247"]: <a href="mailto:contact@veltisgroup.com">contact@veltisgroup.com</a></li>
                </ul>
                <div class="mobile-social mt-3">
                    <p class="description">@Localizer["MobileSocialDesc"]</p>
                    <ul class="tf-social-mobile">
                        <li>
                            <a href="https://" target="_blank" aria-label="Facebook">
                                <img src="~/images/facebook.png" alt="Facebook" width="20" height="20">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>